{% extends "layout.html" %}

{% block content %}
    <h1>功法管理</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>名称</th>
                <th>类型</th>
                <th>等级</th>
                <th>攻击力加成</th>
                <th>防御力加成</th>
                <th>效果描述</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for gongfa in gongfas %}
                <tr>
                    <td>{{ gongfa.id }}</td>
                    <td>{{ gongfa.name }}</td>
                    <td>{{ gongfa.type }}</td>
                    <td>{{ gongfa.level }}</td>
                    <td>{{ gongfa.attack_bonus }}</td>
                    <td>{{ gongfa.defense_bonus }}</td>
                    <td>{{ gongfa.description }}</td>
                    <td>
                        <!-- 这里可以添加编辑、删除等操作按钮 -->
                        <a href="#" class="btn btn-primary">编辑</a>
                        <button class="btn btn-danger">删除</button>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8" style="text-align: center;">暂无功法数据</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}